.masonrygrid .item {
  display: inline-block;
  width: 250px;
  opacity: 1;
}

.masonrygrid.horizontal .item {
  width: auto;
  height: 250px;
}

.masonrygrid .item .thumbnail {
  max-height: 300px;
  overflow: hidden;
  border-radius: 8px;
}

.masonrygrid.equal .item .thumbnail {
  height: 140px;
}

.masonrygrid.equal.horizontal .item .thumbnail {
  height: auto;
  width: 140px;
}

.masonrygrid .item .thumbnail img {
  width: 100%;
  border-radius: 8px;
}

.masonrygrid.horizontal .item .thumbnail img {
  width: auto;
  height: 210px;
}

.masonrygrid .item .info {
  margin-top: 10px;
  font-weight: bold;
  color: #777;
}

.masonrygrid .item.animate {
  transition: opacity ease 1s;
  transition-delay: 0.2s;
  opacity: 1;
}

.masonrygrid .placeholder {
  width: 250px;
  border-radius: 5px;
  background: #eee;
  height: 250px;
}
