{
    "env": {
        "esm": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "loose": true,
                        "modules": false
                    }
                ]
            ],
            "plugins": [
                "@babel/plugin-transform-object-assign",
                "transform-es3-property-literals",
                "transform-es3-member-expression-literals"
            ]
        },
        "umd": {
            "presets": [
                [
                    "@babel/preset-env",
                    {
                        "loose": true,
                        "modules": "commonjs"
                    }
                ]
            ],
            "plugins": [
                "add-module-exports",
                "@babel/plugin-transform-object-assign",
                "transform-es3-property-literals",
                "transform-es3-member-expression-literals"
            ]
        }
    }
}