{
    "presets": [
        [
            "@babel/preset-env",
            {
                "loose": true,
                "modules": "commonjs"
            }
        ]
    ],
    "plugins": [
        "no-side-effect-class-properties",
        [
            "@babel/plugin-proposal-class-properties",
            {
                "loose": true
            }
        ],
        "add-module-exports",
        "@babel/plugin-transform-object-assign",
        "transform-es3-property-literals",
        "transform-es3-member-expression-literals"
    ]
}