#configs
config
bower.json

#tests
test
karma.conf.js

#build tools
webpack.*.js
.travis.yml
.codeclimate.yml

#linters
.eslintrc*

#docs
doc
demo
jsdoc.json
README.md

#editor settings
.idea
.editorconfig
_site
coverage/
node_modules/
.github
.babelrc
mocha.opts
demo/

#packages
packages


#storybook
.storybook
storybook/
stories/
docs/
