    <!-- ******HEADER****** -->
        <header id="header" class="header">
            <div class="container">
                <div class="pull-left home">
                    <a href="{{site.data.egjs.home}}">
                        <h1 class="logo"></h1>
                    </a>
                </div>
                <div class="pull-right home">
                    <a target="_blank" href="//{{ site.data.egjs.github.user }}.github.io/{{ site.data.egjs.github.repo }}/release/latest/doc/">
                    API </a>/
                    <a target="_blank" href="//github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}"> Github </a>
                </div>
        
            </div>
        </header>
        <!--//header-->