<style>
	.tabs {
		list-style: none;
		padding: 10px 0px;
		margin: 0;
		/* text-align: center; */
		margin: 0px auto;
	}
	.tabs li {
		position: relative;
		padding: 0px 20px;
		height: 50px;
		line-height: 50px;
		font-weight: bold;
		box-sizing: border-box;
		display: inline-block;
		transition: color ease 0.2s;
		vertical-align: top;
		text-decoration: none;
		color: #999;
		transition: color ease 0.2s;
	}
	.tabs li:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		transition: background-color ease 0.2s;
		top: 0;
		left: 0;
		z-index: -1;
		border-radius: 25px;
	}
	.tabs li.checked:before {
		background: #eee;
	}
	.tabs li.checked, .tabs li:hover {
		color: #333;
	}
</style>
<nav>
	<ul class="tabs container">
		<li data-tab="home">Home</li>
		<li data-tab="layouts">Layouts</li>
		<li data-tab="started">Getting Started</li>
		<li data-tab="options">Options</li>
		<li data-tab="components">Components</li>
	</ul>
</nav>

<script>
	var lis = $(".tabs li");
	lis.click(function (e) {
		var target = e.currentTarget;
		var hash = target.getAttribute("data-tab");


		location.hash = hash;
		lis.removeClass("checked");
		target.setAttribute('class', "checked");
		
		Tab.open(hash);
		return false;
	});
</script>