<section id="promo" class="promo section">
    <div class="container">
        <div class="logo-infinitegrid">
            <div class="logo-infinite"></div>
            <div class="logo-grid">
                <div class="grid grid1">
                    <div class="grid-line line1"></div>
                    <div class="grid-line line2"></div>
                </div>
                <div class="grid grid2">
                    <div class="grid-line line1"></div>
                    <div class="grid-line line2"></div>
                </div>
                <div class="line center"></div>
            </div>
        </div>
        <!-- <div class="hero-image" style="background-image: url({{ site.data.egjs.home }}/img/{{ site.data.egjs.component }}.png)">
            
        </div> -->
        <h2 class="title">
            <span class="highlight">{{ site.data.egjs.component }}</span>
            <a href="https://github.com/{{ site.data.egjs.github.user }}/{{ site.data.egjs.github.repo }}/releases/tag/{{ site.data.version }}">
                <span class="version">v{{ site.data.version }}</span>
            </a>
        </h2>
        <p class="intro">{{ site.data.egjs.desc }}
            <br/>
            <span class="hashtag">{{ site.data.egjs.hashtag }}</span>
        </p>
    </div>
</section>