<!DOCTYPE html>
<html lang="en">
{% include head.html %}
{% for css in site.data.egjs.css %}
	<link rel="stylesheet" href="{{ css }}">
{% endfor %}
{% for dist in site.data.egjs.dist %}
	<script src="{{ dist }}"></script>
{% endfor %}
<script>
	var homeUrl = window.location.origin + window.location.pathname.replace(/\/[^\/]+$/g, "/");
	window.HOMELINK = homeUrl;
	window.LIBLINK = [];
	// "https://naver.github.io/egjs-infinitegrid/v3.0.0/demo/"
	{% for dist in site.data.egjs.dist %}
	//window.HOMELINK +
	window.LIBLINK.push("{{ dist }}");
	{% endfor %}
</script>
<body>
{% include facebook.html %}
{% include header.html %}
{% include promo.html %}
{% include nav.html %}
<div class="contents">
	<section id="home" class="tab tab-home docs section demos scroll-view" data-tab="home">
		{% capture demo %}{% include_relative demo.md %}{% endcapture %} {{ demo | markdownify }}
	</section>
	<section id="started" class="tab tab-started docs section started scroll-view" data-tab="started">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title">Getting Started</h2>
				{% capture started %}{% include_relative started.md %}{% endcapture %}
				{{ started | markdownify }}
			</div>
		</div>
	</section>
	<section id="layouts" class="tab tab-layouts docs section layouts scroll-view" data-tab="layouts">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title">Layouts</h2>
				<p>InfiniteGrid offers five layouts. You can place items with the layout.</p>
			</div>
		</div>
	</section>
	<section id="layout-list" class="tab tab-layouts scroll-view" data-tab="layouts">
		<div class="layout-list">
			<ul class="docs-inner container">
			{% for layout in site.data.egjs.layouts %}
				<li class="layout-item">
					<a href="#{{layout.name}}">
						<p>{{layout.name}}</p>
					</a>
				</li>
			{% endfor %}
			</ul>
		</nav>
	</section>
	<section id="layouts" class="tab tab-layouts" data-tab="layouts">
		{% for layout in site.data.egjs.layouts %}
		<div id="{{layout.name}}" class="docs section layouts-view scroll-view">
			<div class="container">
				<div class="docs-inner">
					<div class="layout-view">
						<div class="logo-area">
							<img class="logo logo1" src="{{layout.image}}" />
							<img class="logo logo2" src="{{layout.image}}" />
						</div>
						<h3 class="title">{{layout.name}}</h3>
						<p class="desc">{{layout.desc}}</p>
						<ul class="demo-list">
							{% for demo in layout.demos %}
							<li class="demo-item">
								<a href="./assets/html/{{demo.target}}.html" target="_blank">
									<p><img src="./assets/image/demos/{{demo.target}}.gif" /></p>
									<p>{{demo.name}}</p>
								</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
	</section>
	<section id="options" class="tab tab-options docs section scroll-view" data-tab="options">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title">Options</h2>
				{% capture options %}{% include_relative options.md %}{% endcapture %} {{ options | markdownify }}
			</div>
		</div>
	</section>
	<section id="components" class="tab tab-components docs scroll-view" data-tab="components">
		<div class="container">
			<div class="docs-inner">
				<h2 class="title">Components</h2>
				{% capture components %}{% include_relative components.md %}{% endcapture %} {{ components | markdownify }}
			</div>
		</div>
	</section>

</div>
{% include footer.html %}
{% for js in site.data.egjs.js %}
	<script src="{{ js }}"></script>
{% endfor %}
</body>
</html>
