.container3 {
	position: relative;
	height: 240px;
	max-width: 640px;
	margin: 0px auto;
}
.container3 .item {
	width: 180px;
	height: 200px;
	text-align: center;
}
.container3 .item .info img {
	display: block;
	width: 180px;
	height: 180px;
	border-radius: 50%;
}
.container3 .item .info .title {
	font-weight: bold;
	font-size: 20px;
}