body {background-color: #f1f2f6;}
.item {
  width:50%;
  min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
@media (min-width: 768px) {
  .item {
    width : 33.33333333%;
  }
}
@media (min-width: 992px) {
  .item {
    width : 25%;
  }
}
@media (min-width: 1200px) {
  .item {
    width : 16.66666667%;
  }
}

p.desc {
  display: block;
  display: -moz-box;
  display: -webkit-box;
  line-height: 20px;
  max-height: 20px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 1;
  -moz-line-clamp: 1;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
}