.container2 {
	position: relative;
	height: 220px;
}
.container2 .item {
	width: 180px;
	height: 200px;
}
.container2 .item img {
	width: 80%;
	height: 80%;
	margin: 10%;
}
.container2 {
	padding: 10px;
	background: #000;
}
.container2 ._eg-infinitegrid-container_ {
	position: relative;
	margin: 10px 0px;
	height: 200px;
	border: 4px dashed #fff;
	border-left: none;
	border-right: none;
	box-sizing: border-box;
}