body {
	margin: 0;
	left: 0;
}
.container {
	position: relative;
	width: 1200px;
	margin: 0px auto;
}
.header {
	position: relative;
	height: 60px;
	padding: 20px 20px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
	background: #FAFAFA;
	
}
.header-container {
	position: relative;
	height: 100%;
}
.header .logo {
	height: 100%;
	vertical-align: middle;
}
.header .search {
	position: absolute;
	display: inline-block;
	top: 10px;
	left: 145px;
	vertical-align: middle;
	padding: 3px;
	background: #8C532E;
	width: 400px;
	height: 40px;
}
.header .search .search-input {
	position: absolute;
	display: block;
	left: 3px;
	right: 45px;
	height: 40px;
}
.header .search input {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
	text-indent: 10;
	font-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
.header .search .submit {
	position: absolute;
	display: inline-block;
	background: transparent;
	box-shadow: none;
	border: 0;
	margin: 0;
	vertical-align: top;
	width: 40px;
	height: 40px;
	right: 3px;
}
.header .search .submit:before, .header .search .submit:after {
	position: absolute;
	content: "";
}
.header .search .submit:before {
	width: 40%;
	height: 40%;
	border: 2px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	left: 20%;
	top: 20%;
}
.header .search .submit:after {
	width: 30%;
	height: 2px;
	left: 60%;
	top: 60%;
	background: #fff;
	transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;

	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	
}

.item {
	height: 100%;
	width: 150px;
	overflow: hidden;
}
.item img {
	width: 100%;
	/* height: 100%; */
}
.item .info {
	margin: 10px;
}
.item .info .title {
	font-weight: bold;
	font-size: 20px;
}
.item .description {
	line-height: 1.4;
}

