body {
	padding: 0;
	margin: 0;
	font-size: 15px;
}
.container {
	position: relative;
	height: 300px;
	margin: auto 0;
}
.container:before {
	content: "";
	position: absolute;
	top: 50%;
	background: #ddd;
	width: 100%;
	height: 2px;
	z-index: 2;
}
.item {
	position: absolute;
	z-index: 2;
}
.item:before {
	content: "";
	left: 20px;
	position: absolute;
	margin-left: 10px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
}
.item.odd:before {
	top: 150%;
	margin-top: -10px;
}
.item.even:before {
	bottom: 150%;
	margin-bottom: -10px;
}
.item .anchor {
	position: absolute;
	display: inline-block;
	width: 40px;
	height: 40px;
	border-radius: 50% 50% 50% 0px;
}
.item.odd .anchor {
	transform: rotate(-45deg);
}
.item.even .anchor {
	transform: rotate(135deg);
}
.anchor:before {
	position: absolute;
	width: 50px;
}
.item .info {
	position: absolute;
	left: 20px;
	height: 40px;
}
.item .title {
	position: relative;
	left: 60px;
	margin-top: 10px;
	font-weight: bold;
}
.item.odd .info {
	bottom: 0px;
}
.item.even .info {
	top: 0px;
}
.item.b0:before, .item.b0 .anchor {
	background: #F5C720;
}
.item.b1:before, .item.b1 .anchor {
	background: #f55;
}
.item.b2:before, .item.b2 .anchor {
	background: #00BE39;
}
.item.b3:before, .item.b3 .anchor {
	background: brown;
}