body {
    margin: 0;
    padding: 0;
}
#controller {
    width: 100%;
    position: fixed;
    bottom: 0;
    z-index: 2;
    background: #fff;
    opacity: 0.5;
}
#controller button {
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    -webkit-outdivne: none;
    float: left;
    width: 25%;
    border: 1px solid #ccc;
    background: #fff;
    height: 40px;
}
#controller button:active {
    background: #ddd;
}
#controller .layouts button {
    border-color: #f55;
    width: 20%;
}
#grid {
    margin: 0;
    padding: 0;
    bottom: 200px;
    left: 0;
    right: 0;
    top: 0;
}
#grid[data-overflow="true"] {
    position: fixed;
}
#grid[data-overflow="false"] {
    position: relative;
}
#grid[data-overflow="false"][data-direction="vertical"] {
    bottom: auto;
}
#grid .item {
    position: absolute;
    display: block;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#grid .item {
    border: 2px solid black;
    box-sizing: border-box;
}
#grid .item img {
    position: relative;
}
#grid .item[data-group="0"] {
    border-color: #f55;
}
#grid .item[data-group="1"] {
    border-color: #5c5;
}
#grid .item[data-group="2"] {
    border-color: #55c;
}
#grid .item[data-group="3"] {
    border-color: #c5c;
}
#grid .item[data-group="4"] {
    border-color: #5cc;
}
#grid[data-layout="GridLayout"][data-direction="vertical"] .item {
    width: 200px;
}
#grid[data-layout="GridLayout"][data-direction="vertical"]  .item img {
    width: 100%;
}
#grid[data-layout="GridLayout"][data-direction="horizontal"] .item {
    height: 200px;
}
#grid[data-layout="GridLayout"][data-direction="horizontal"] .item img {
    height: 100%;
}
#grid[data-layout="JustifiedLayout"] .item {
}
#grid[data-layout="JustifiedLayout"] .item img {
    width: 100%;
}
#grid[data-layout="FrameLayout"] .item img {
    min-width: 100%;
    min-height: 100%;
}
#grid[data-layout="FrameLayout"][data-direction="vertical"] .item img {
    width: 100%;
}
#grid[data-layout="FrameLayout"][data-direction="horizontal"] .item img {
    height: 100%;
    min-width: 150%;
}
#grid[data-layout="SquareLayout"] .item {
}
#grid[data-layout="SquareLayout"][data-direction="vertical"] .item img {
    width: 100%;
    min-height: 100%;
}
#grid[data-layout="SquareLayout"][data-direction="horizontal"] .item img {
    height: 100%;
    min-width: 150%;
}
#grid[data-layout="PackingLayout"] .item {
    background: #BCDDCC;
}
#grid[data-layout="PackingLayout"] .item img {
    display: block;
    max-width: 200%;
    margin: 0px auto;
}
.loading_bar {
    background: #eee;
    display: none;
}
#grid[data-direction="vertical"] .loading_bar {
    width: 100%;
    height: 80px;
    line-height: 80px;
    text-align: center;
}
#grid[data-direction="horizontal"] .loading_bar {
    width: 80px;
    height: 100%;
    line-height: 80px;
    text-align: center;
}

#console {
    position: fixed;
    z-index: 10;
    background: #f55;
    width: 60px;
    height: 60px;
}