
body {
	margin: 0;
	padding: 0;
}
.nav {
	width: 70px;
	position: fixed;
	top: 0;
	bottom:0;
	left: 0;
	height: 100%;
	background: #000;
	z-index: 2;
}
.nav .logo {
	padding: 20px 0px;
	text-align: center;
}
.nav .logo img {
	width: 70%;
}



.header {
	position: relative;
	height: 60px;
	padding: 20px 20px;
	margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
	background: #FAFAFA;
	
}
.header-container {
	position: relative;
	height: 100%;
}
.header .logo {
	height: 100%;
	vertical-align: middle;
}
.header .search {
	position: absolute;
	display: inline-block;
	top: 10px;
	left: 145px;
	vertical-align: middle;
	padding: 3px;
	background: #8C532E;
	width: 400px;
	height: 40px;
}
.header .search .search-input {
	position: absolute;
	display: block;
	left: 3px;
	right: 45px;
	height: 40px;
}
.header .search input {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
	text-indent: 10;
	font-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
.header .search .submit {
	position: absolute;
	display: inline-block;
	background: transparent;
	box-shadow: none;
	border: 0;
	margin: 0;
	vertical-align: top;
	width: 40px;
	height: 40px;
	right: 3px;
}
.header .search .submit:before, .header .search .submit:after {
	position: absolute;
	content: "";
}
.header .search .submit:before {
	width: 40%;
	height: 40%;
	border: 2px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	left: 20%;
	top: 20%;
}

.container {
	max-width: 1200px;
	margin: 0px auto;
}
.contents {
	position: relative;
	margin-left: 70px;
	padding: 20px;
	
}
.contents h1 {
	font-size: 50px;
	/* margin: 0; */
	padding: 0;
}
.contents .description {
	color: #777;
	font-weight: bold;
	margin: 20px 0px 40px;
	/* font-size: 13px; */
}

.gallery {
}
.item {
	overflow: hidden;
	/* transition: transform ease 0.5s; */
}
.item img {
	position: relative;
	min-width: 100%;
	min-height: 100%;
	max-width: 200%;
	max-height: 200%;
}

.item .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: none;
}
.item:hover .info {
	display: block;
}
.item .info .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=5);

}
.item .info .title {
	position: relative;
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding-left: 20px;
}