body {
	margin: 0;
	left: 0;
}
.header {
	position: relative;
	height: 60px;
	padding: 20px 20px;
	margin: 10px 0px;
	border-bottom: 1px solid #ddd;
	background: #FAFAFA;
}
.header-container {
	position: relative;
}
.header .logo {
	height: 100%;
	vertical-align: middle;
}
.header .search {
	position: absolute;
	display: inline-block;
	top: 10px;
	left: 145px;
	vertical-align: middle;
	padding: 3px;
	background: #8C532E;
	width: 400px;
	height: 40px;
}
.header .search .search-input {
	position: absolute;
	display: block;
	left: 3px;
	right: 45px;
	height: 40px;
}
.header .search input {
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	border: 0;
	font-weight: bold;
	text-indent: 10;
	font-size: 16px;
	appearance: none;
	-webkit-appearance: none;
	outline: none;
}
.header .search .submit {
	position: absolute;
	display: inline-block;
	background: transparent;
	box-shadow: none;
	border: 0;
	margin: 0;
	vertical-align: top;
	width: 40px;
	height: 40px;
	right: 3px;
}
.header .search .submit:before, .header .search .submit:after {
	position: absolute;
	content: "";
}
.header .search .submit:before {
	width: 40%;
	height: 40%;
	border: 2px solid white;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	left: 20%;
	top: 20%;
}
.header .search .submit:after {
	width: 30%;
	height: 2px;
	left: 60%;
	top: 60%;
	background: #fff;
	transform-origin: 0 50%;
	-ms-transform-origin: 0 50%;
	-webkit-transform-origin: 0 50%;

	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);	
}
.container {
	position: relative;
	margin: 10px;
}
.item {
	position: absolute;
	border: 1px solid #ddd;
}
.item img {
	width: 100%;
}
.item .info {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	height: 50px;
	display: none;
}
.item:hover .info {
	display: block;
}
.item .info .bg {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: #000;
	opacity: 0.5;
	filter: alpha(opacity=5);
}
.item .info .title {
	position: relative;
	height: 50px;
	line-height: 50px;
	color: #fff;
	padding-left: 20px;
}
@media (max-width: 630px) {
	.header .search {
		width: auto;
		right: 40px;
	}
}