html, body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fff;
}
a {
    color: unset;
    text-decoration: none;
}
.header {
    text-align: center;
    background: #333;
    color: #fff;
    padding: 20px 0px;
    margin: 0;
    margin-bottom: 10px;
}
.container {
    height: 600px;
}

.packinglayout .item {
    position: absolute;
    opacity: 1;
    width: 200px;
    overflow: hidden;
}

.packinglayout .item .thumbnail {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.packinglayout .item .thumbnail img {
    position: relative;
    min-width: 100%;
    min-height: 100%;
    max-width: 200%;
    max-height: 200%;
}

.packinglayout .item .info {
    position: absolute;
    width: 100%;
    height: 30px;
    bottom: 0;
    left: 0;
    line-height: 20px;
    padding: 5px 10px;
    box-sizing: border-box;
    color: #fff;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
    text-align: left;
    font-size: 14px;
    opacity: 0;
    transition: opacity ease 0.2s;
}

.packinglayout .item:hover .info {
    opacity: 1;
}

.item.animate {
    transition: opacity ease 1s;
    transition-delay: 0.2s;
    opacity: 1;
}


.packinglayout .loading {
    position: absolute;
    width: 100%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    display: none;
}
.packinglayout .loading span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.packinglayout.horizontal .loading {
    width: 200px;
    height: 100%;
}
